@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p><label>User: </label><input name="name" /></p>
        <p><label>password: </label><input name="password" type="password" /></p>
        <input type="submit" value="로그인" />

    }
</body>
</html>
